._contenedor {
  background-color: white;
  background: rgba(58, 39, 39, 0.6);
  width: 100%;
  height: 100%;
}

.cabecera {
  height: 70px;
}

.pie {
  height: 70px;
}

.listado-col {
  background: #17a2b8;
  opacity: 0.9;
  margin: 20px;
  padding: 15px;
}

.h1-center {
  text-align: left;
  color: white;
}
