.perfil {
  width: 200px;
  height: 200px;
}
._contenedor {
  background-color: white;
  background: rgba(58, 39, 39, 0.6);
  width: 100%;
  height: 100vh;
}

.cabecera {
  height: 70px;
}

.pie {
  height: 70px;
}

.listado-col {
  background: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.9;
  margin: 20px;
  padding: 15px;
}

.h1-center {
  text-align: center;
  color: white;
}

.parrafo {
  color: white;
  text-align: center;
}

