<div class="_contenedor">
    <div class="container">
      <div class="row cabecera"></div>
      <div class="row">
        <div class="col listado-col rounded">
          <div id ="quiwn"class="container-fluid bg-1 text-center">
            <h3 class="h1-center ">Quién Soy?</h3>
            <img src="./assets/imagenes/Perfil.png" class="img-fluid rounded-circle hoverable perfil"  alt="Bird">
            <h3 class="h1-center">Soy Un alumno de la UTN FRA</h3>
            <p class="parrafo">Este es un trabajo practico para la UTN</p>
            <p class="parrafo">Soy Carla Eliana Vargas, estudiante de 32 años</p>
            <p class="parrafo">Los juego por el  momento no estan completamente finalizados, falta que las consultas</p>
            <p class="parrafo">a la base de datos sean mas acorde.</p>
            <p class="parrafo">Por el momento el registro no funciona</p>
            <p class="parrafo">PARA JUGAR: para jugar necesitas por el momento loggearte.</p>
            <p class="parrafo">Por el momento solo podes loggearte con este mail: carla.e.vargas@gmail.com pass: asd123</p>
          </div>

        </div>
      </div>
      <div class="row pie"></div>
    </div>
  </div>
