<div class="_contenedor">
    <div class="container">
      <div class="row cabecera"></div>
      <div class="row">
        <div class="col listado-col rounded">
          <div id ="quiwn"class="container-fluid bg-1 text-center">
            <h3 class="h1-center ">Quién Soy?</h3>
            <img src="./assets/imagenes/Perfil.png" class="img-fluid rounded-circle hoverable perfil"  alt="Bird">
            <h3 class="h1-center">Soy Un alumno de la UTN FRA</h3>
            <p class="parrafo">Este es un trabajo practico para la UTN</p>
            <p class="parrafo">Este es un trabajo practico</p>
            <p class="parrafo">Este es un trabajo practico</p>
            <p class="parrafo">Este es un trabajo practico</p>
            <p class="parrafo">Este es un trabajo practico</p>
            <p class="parrafo">Este es un trabajo practico</p>
            <p class="parrafo">Este es un trabajo practico</p>
          </div>

        </div>
      </div>
      <div class="row pie"></div>
    </div>
  </div>
