<div class="_contenedor">
    <div class="container">
      <div class="row cabecera"></div>
      <div class="row">
        <div class="col listado-col rounded">
          <div id ="quiwn"class="container-fluid bg-1 text-center">
            <h3 class="h1-center ">Quién Soy?</h3>
            <img src="./assets/imagenes/Perfil.png" class="img-fluid rounded-circle hoverable perfil"  alt="Bird">
            <h5 class="h1-center">Soy Un alumno de la UTN FRA, este es un trabajo práctico de Laboratorio</h5>
            <p class="parrafo">Soy Carla Eliana Vargas, estudiante de 32 años</p>
            <p class="parrafo">Breve explicacion de puntajes:</p>
            <div>
              <p class="parrafo"><b>Adivina el numero:</b> Suma 5 si se adivina en el primer intento. La cantidad de
              puntaje se va descontando segun la cantidad de intentos.<br> -Contra la máquina- (hasta 6 intentos.)
              <br><b>Agilidad aritmética:</b> Suma 50 puntos cada vez que ganas. Si perdes, no sumas puntos.
              <br>-Contra la máquina-
              <br><b>Piedra papel tijera:</b> Suma 50 puntos cada vez que ganas. Si perdes, no sumas puntos.
              <br>-Contra la máquina-
              <br><b>Anagrama:</b> Suma 50 puntos cada vez que ganas. Si perdes, no sumas puntos.
              <br>-Contra la máquina-
              <br><b>Ahorcado:</b> Suma 6 si se adivina en el primer intento. La cantidad de
              puntaje se va descontando segun la cantidad de intentos.
              <br>-Contra la máquina- (hasta 6 intentos.)
              <br><b>Tateti:</b> Importante!!!! El sistema de puntajes del tateti aun no queda definido.
            </p>
            </div>
          </div>

        </div>
      </div>
      <div class="row pie"></div>
    </div>
  </div>
