<div class="contenedor_ruleta">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div>
      <ol class="carousel-indicators carousel-indicatorsMine">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      </ol>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block d-md-block-mine">
          <div class="juego">
            <img src="./../../../assets/imagenes/adivinaNumero.png"
              class="img-fluid rounded-circle hoverable roundedImg">
          </div>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button  [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning" routerLink="AdivinaMasListado"
                  routerLinkActive="active-link">Jugar</button>
              </div>
              <div class="col"></div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col"></div>
              <div class="col ">
                <div class="paramtxt">
                  <h5>Adivina el numero</h5>
                  <p>El titulo lo explica todo, no?</p>
                  <p>Si adivinas ganás y sumás puntos</p>
                  <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block d-md-block-mine">
          <div class="juego">
            <img src="./../../../assets/imagenes/Math-pi-pencil-board-calculation-512.png"
              class="img-fluid rounded-circle hoverable roundedImg">
          </div>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button  [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning" routerLink="AgilidadaMasListado"
                  routerLinkActive="active-link">Jugar</button>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="paramtxt">
                  <h5>Agilidad aritmética</h5>
                  <p>Debe responder problemas matematicos</p>
                  <p>Mientras mas rapido respondas, mas puntos</p>
                  <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block d-md-block-mine">
          <div class="juego">
            <img src="./../../../assets/imagenes/piedra-slide.png" class="img-fluid rounded-circle hoverable roundedImg">
          </div>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning" routerLink="PiedraPapelTijeraMasListado"
                  routerLinkActive="active-link">Jugar</button>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="paramtxt">
                  <h5>Piedra papel tijeras</h5>
                  <p>Competi contra la maquina</p>
                  <p>Sumás puntos si ganas</p>
                  <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block d-md-block-mine">
          <div class="juego">
            <img src="./../../../assets/imagenes/anagrama.png" class="img-fluid rounded-circle hoverable roundedImg" />
          </div>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button  [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning" routerLink="Anagrama"
                  routerLinkActive="active-link">
                  Jugar
                </button>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="paramtxt">
                  <h5>Anagrama</h5>
                  <p>Competi contra la maquina</p>
                  <p>Sumás puntos si ganas</p>
                  <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>

                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block d-md-block-mine">
          <div class="juego">
            <img src="./../../../assets/imagenes/tateti.png" class="img-fluid rounded-circle hoverable roundedImg" />
          </div>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button  [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning" routerLink="Tateti"
                  routerLinkActive="active-link">
                  Jugar
                </button>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="paramtxt">
                  <h5>Ta Te Ti</h5>
                  <p>Competi contra la maquina</p>
                  <p>Sumás puntos si ganas</p>
                  <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block d-md-block-mine">
          <div class="juego">
            <img src="./../../../assets/imagenes/ahorcado-logo.png" class="img-fluid rounded-circle hoverable roundedImg" />
          </div>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button  [disabled]="!this.userIsLogged" type="button" class="btn btn-outline-warning" routerLink="AhorcadoMasListado"
                  routerLinkActive="active-link">
                  Jugar
                </button>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="paramtxt">
                  <h5>Ahorcado</h5>
                  <p>Encontrá la palabra secreta</p>
                  <p>Sumás puntos si ganas</p>
                  <h6 class="text-warning">Para poder jugar tenes que registrarte</h6>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
