
<div class="card-header headerC">
  <h3>Registro</h3>
</div>
<form [formGroup]="userGroup">
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="username" formControlName="username">
    <div *ngIf="userGroup.controls.username.invalid && (userGroup.controls.username.dirty || userGroup.controls.username.touched)">
      <div *ngIf="userGroup.controls.username.errors">
        <br>
        <p style="color:red;font-size: 12px;">Debe ingresar un nombre de usuario</p>
      </div>
    </div>
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-send-o"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="email" formControlName="email">
    <div *ngIf="userGroup.controls.email.invalid && (userGroup.controls.email.dirty || userGroup.controls.email.touched)">
      <div *ngIf="userGroup.controls.email.errors">
        <br>
        <p style="color:red;font-size: 12px;">Debe ingresar un correo electrónico válido</p>
      </div>
    </div>
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="password" formControlName="password1"
      (change)="onPasswordChange()">
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="password" formControlName="password2"
      (change)="onPasswordChange()">
      <div
      *ngIf="userGroup.controls.password2.invalid && (userGroup.controls.password2.dirty || userGroup.controls.password2.touched)">
      <div *ngIf="userGroup.controls.password2.errors">
        <br>
        <p style="color:red;font-size: 16px;">Las contraseñas no corresponden o no contiene la cantidad de caracteres permitidos: 6</p>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="this.isRegistered">
    <p style="color: #FFC312;font-size: 20px;">Se ha registrado con éxito!</p>
  </div>

  <div class="form-group">
    <input  [disabled]="!userGroup.valid" type="submit" class="btn float-right login_btn" (click)="onSubmit()" [formGroup]="userGroup">
  </div>



</form>

